<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .hide{
            display: none;
        }
        .shadow{
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.4;
            z-index: 999;
        }
        .modal{
            z-index: 1000;
            position: fixed;
            left: 50%;
            top: 50%;
            height: 300px;
            width: 400px;
            background-color: white;
            margin-left: -200px;
            margin-top: -150px;
        }
        th,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>老师列表</h1>
<div>
    <a href="#">添加</a>
    <a onclick="showModal()">对话框添加</a>
</div>

<table style="border: 1px solid black">
    <thead>
        <tr>
            <th>ID</th>
            <th>老师姓名</th>
            <th>任课班级</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for row in teacher_list %}
            <tr>
                <td>{{ row.tid }}</td>
                <td>{{ row.name }}</td>
                <td>
                    {% for i in row.titles %}
                        <span style="border: 1px solid red;margin: 5px">{{ i }}</span>
                    {% endfor %}
                </td>
                <td>&nbsp;<a href="#">删除</a>
                    |
                    <a>对话框编辑</a>
                    |
                    <a href="#">编辑</a>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
<div id="shadow" class="shadow hide"></div>
<div id="modal" class="modal hide">
{#    <form method="post" action="/modal_add_class/">#}
    <p>
        <input type="text" name="title" id="title">
    </p>
    <input type="button" value="提交" onclick="AjaxSend()">
    <input type="button" value="取消" onclick="cancleModal()">
    <span id="errormsg"></span>
{#    </form>#}
</div>
<div id="editModal" class="modal hide">
    <h3>编辑框</h3>
    <p>
        <input type="text" name="title" id="editTitle">
        <input type="text" name="title" id="editId" style="display: none">
    </p>
    <input type="button" value="提交" onclick="editAjaxSend()">
    <input type="button" value="取消" onclick="cancleModal()">
    <span id="errormsg"></span>
</div>
{% comment %}<script src="/static/jquery-1.12.4.js"></script>
<script>
    function showModal() {
        document.getElementById('shadow').classList.remove('hide')
        document.getElementById('modal').classList.remove('hide')
    }
    function cancleModal() {
        document.getElementById('shadow').classList.add('hide')
        document.getElementById('editModal').classList.add('hide')
        document.getElementById('modal').classList.add('hide')
    }
    function AjaxSend() {
        $.ajax({
            url:'/modal_add_class/',
            type:'POST',
            {#data:{'title':'kkk'},#}
            data:{'title':$('#title').val()},
            success:function (data) {
                //当服务端处理完成数据时自动调用，data代表返回值
                if(data=="ok"){
                    location.href="/classes/"
                    //刷新跳转页面
                }else {
                    $('#errormsg').text(data);
                }
            }
        })
    }
    function modelEdit(ths) {
        document.getElementById('shadow').classList.remove('hide')
        document.getElementById('editModal').classList.remove('hide')
        var row=$(ths).parent().prevAll();  //获取目标文件的父类同级，是一个列表
        console.log(row)
        var content=$(row[0]).text();
        console.log(content)
        $('#editTitle').val(content);
        var contentId=$(row[1]).text();
        console.log(contentId)
        $('#editId').val(contentId);
    }
    function editAjaxSend() {
        var nid = $('#editId').val();
        var content=$('#editTitle').val();
        $.ajax({
            url:'/modal_edit_class/',
            type: 'POST',
            data: {'nid':nid,'content':content},
            success:function (arg) {
                arg=JSON.parse(arg);
                if (arg.status){
                    location.reload()
                } else {
                    alert(arg.message)
                }
            }
        })
    }

</script>{% endcomment %}
</body>
</html>